<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col-md-4">

            <div class="card card-cascade wider border-0">

                <!-- Card image -->
                <div class="view view-cascade overlay shadow-lg">
                    <img *ngIf="UserInfo.image" class="card-img-top" [src]="UserInfo.image"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body custom-card-body card-body-cascade text-center p-0">
                    <div class="card-content m-3">
                        <!-- Title -->
                        <h4 *ngIf="showInfo.name" class="card-title"><strong>{{UserInfo?.firstname}} {{UserInfo?.lastname}}</strong></h4>
                        <!-- Subtitle -->
                        <h5 class="blue-text pb-2"><strong>{{ UserInfo?.birthdate | date: fullDate }}</strong></h5>

                        <h6 class=" pb-2"><strong>{{UserInfo?.gender}}</strong></h6>
                        <!-- Text -->
                        <p class="card-text small">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium
                            doloremque
                            laudantium, totam rem aperiam. </p>

                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>