<div class="header">

</div>
<div class="id">
    <div class="container">
        <div class="col" *ngIf="showInfo.name">
            <h1>{{UserInfo?.firstname}} {{UserInfo?.lastname}}</h1>
        </div>
    </div>
    <div class="container-info">
        <div class="col">
            <img *ngIf="UserInfo.image" [src]="UserInfo.image" alt="me" width="210px">
        </div>
        <div class="col">
            <h3>About</h3>
            <ul>
                <li><i  class="fa fa-envelope"></i>{{UserInfo?.email}}</li>
                <li><i class="fa fa-calendar"></i>{{UserInfo?.birthdate| date:full }}</li>
                <li><i class="fa fa-street-view"></i>{{UserInfo?.location}}</li>
                <li><i class="fa fa-phone"></i>{{UserInfo?.phone}}</li>
                <li><i class="fa fa-user"></i>{{UserInfo?.gender}}</li>
            </ul>
        </div>
    </div>
</div>