body,html {
    height: auto;
}
ul {
    list-style: none;
}
h3 {
    padding-left: 40px;
}
.header {
    height: 300px;
    background: white;
    margin: -100px;
}
.container {
    padding: .70rem;
    background: red;
    height: 80px;
    width: 60%;
}