<div class="header">

</div>
<div class="id">
    <div class="container">
        <div class="col">
            <h1>Name</h1>
        </div>
    </div>
    <div class="container-info">
        <div class="col">
            <img src="../assets/37198141_1792718884154023_1261669668519673856_n.jpg" alt="me" width="210x">
        </div>
        <div class="col">
            <h3>About</h3>
            <ul>
                <li><i class="fa fa-envelope"></i>Email</li>
                <li><i class="fa fa-calendar"></i>Birthday</li>
                <li><i class="fa fa-street-view"></i>Address</li>
                <li><i class="fa fa-phone"></i>Phone number</li>
                <li><i class="fa fa-user"></i>Gender</li>
            </ul>
        </div>
    </div>
</div>