body,html {
    height: auto;
}
.id {
}
.header {
    height: 300px;
    background: white;
    margin: -100px;
}
.container {
    padding: .70rem;
    background: red;
    height: 80px;
    width: 60%;
}